.propic{
    width: 35%;

}
.content{
    
    width: 65%;
    
}
.card{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    display: flex;
    border: 1px dotted blue;
    justify-content: space-around;
    padding: 20px;
    text-align: center;
    color: #2b2839;
    background: #7abaf7;
    border-bottom: 8px solid #ca9bce;
}

body{
    margin: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #2b2839;
}